<%- include ("../../../../template/main") %> <%- include ("../../../../template/menu") %>

<main>
  <% if(hasOrders) { %>
  <div class="container row">
    <% orders.forEach((order, index) => { %>
    <article class="col-12" style="padding: 5px">
      <h1>#<%- (index + 1) -%></h1>
      <div><%- order.createdAt -%></div>
      <div><%- order.updatedAt -%></div>
      <div><%- order.status -%></div>
      <div>
        <% order.products.forEach(orderProduct => { %>
        <img src="/images/products/<%- orderProduct.product.img -%>">
        <h2><%- orderProduct.product.title -%></h2>
        <div>
          <div><%- orderProduct.product.price -%></div>
          <div><%- orderProduct.amount -%></div>
          <div><%- orderProduct.total -%></div>
        </div>
        <% }) %>
      </div>
    </article>
    <% }) %>
  </div>
  <% } else { %>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-6 fw-normal">You don't have any orders</h1>
      <p class="lead fw-normal">Go to store and buy some products</p>
      <a class="btn btn-outline-secondary" href="/shop">Go shopping</a>
    </div>
  </div>
  <% } %>
</main>

<%- include ("../../../../template/footer") %>
