<div class="mb-3">
  <label class="form-label" for="<%- field.name -%>"><%- field.label -%> </label>
  <input
    class="form-control <%- (errorMessage[field.name]) ? 'is-invalid' : '' %>"
    type="<%- field.type -%>"
    placeholder="<%- field.placeholder ?? field.label -%>"
    name="<%- field.name -%>"
    value="<%- field.type !== 'file' && typeof body !== undefined && typeof body[field.name] !== undefined
      ? body[field.name]
      : '' -%>"
    <%- typeof field.extra !== 'undefined' ? {...field.extra} : undefined -%>
  />
  <% if (errorMessage[field.name]) { %>
  <div class="invalid-feedback"><%- errorMessage[field.name].msg -%></div>
  <% } %>
</div>
