<%- include ("../../../../template/main") %> <%- include ("../../../../template/menu") %>

  <main>
    <form class="col-md-5 p-lg-5 mx-auto my-5" method="POST"
      action="/admin/shop/product/<%- product._id ? `edit/${product._id}` : 'add' -%>">
      <div class="mb-3">
        <label class="form-label" for="title">Product name</label>
        <input class="form-control" type="text" placeholder="Product name" name="title" value="<%- product.title -%>" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <input class="form-control" type="number" min=".01" step="any" placeholder="Price" name="price"
          value="<%- product.price -%>" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" name="description" cols="30" rows="8"
          placeholder="Description"><%- product.description -%></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="img">img</label>
        <input class="form-control" type="url" placeholder="img" name="img" value="<%- product.img -%>" />
      </div>
      <button class="btn btn-primary start-50" type="submit">
        <%- product._id ? "Edit Product" : "Create Product" -%>
      </button>
    </form>
  </main>

  <%- include ("../../../../template/footer") %>